# Export functions from the R scripts
export(data_processing)
export(data_normalization)
export(sva_batch_correction)

# Import functions from required packages
importFrom(dplyr, select, mutate, full_join, filter)
importFrom(edgeR, DGEList, calcNormFactors, cpm)
importFrom(limma, removeBatchEffect)
importFrom(sva, sva, num.sv)
importFrom(tidyverse, read_tsv, set_names)

